
.login-container {
    text-align: center;

    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    margin-top: 130px;
    padding: 60px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #3f51b5;
  }
  
  .subtitle {
    font-size: 16px;
    margin-bottom: 30px;
    color: #666;
  }
  
  .input-item {
    margin-bottom: 15px;
    border-radius: 6px;
    --background: rgba(240, 240, 240, 1);
  }
  
  ion-input {
    padding: 10px;
  }
  
  .forgot-password-link {
    display: block;
    margin-top: 10px;
    color: #3f51b5;
    text-decoration: underline;
    font-size: 14px;
  }
  
  .divider {
    margin: 20px 0;
    font-size: 14px;
    color: #888;
    position: relative;
  }
  
  .divider:before,
  .divider:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background: #ddd;
  }
  
  .divider:before {
    left: 0;
  }
  
  .divider:after {
    right: 0;
  }
  
  .social-buttons ion-button {
    margin: 0 10px;
    font-size: 24px;
    --padding-start: 0;
    --padding-end: 0;
  }
  